* {
    font-size: 13px;
}

menuitem:disabled > label {
    color: dimgrey;
}
button {
    border-width: 1px;
    padding: 4px;
}
button.alphabet-scroller-button {
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
}
button.alphabet-scroller-button > label {
    font-size: 9px;
}
button.unicode-kbd-button {
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
}
#search-box flowboxchild {
    padding: 3px;
}
#unicode-kbd flowboxchild {
    padding: 0px;
    padding-right: 2px;
}
arrow-button {
    padding: 0px;
    padding-right: 6px;
}
button.arrow-button-track {
    padding-right: 2px;
    padding-left: 3px;
    margin-bottom: 1px;
}
#play-button {
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 0px;
    background-color: #262626;
    border-color: #262626;
}
#play-button:hover {
    border-color: #009185;
}
work-metadata-group {
    padding-left: 4px;
    padding-right: 1px;
    padding-top: 2px;
}
#select-button-left {
    padding: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 1px;
}
#select-button-left:hover + #select-button-right {
    border-color: #009185;
}
#select-button-right {
    padding: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}
#select-button-right:hover {
    background-color: #009185;
}
button.double-left {
    padding: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
button.double-right {
    padding: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}
button.double-right:hover {
    background-color: #009185;
}
button.image-button {
    padding: 3px;
}
#edit-left-notebook tab {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
button.import-file-button {
    padding: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}
